<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>87</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>9</integer>
    <key>duration</key>
    <real>0.1</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <real>0.34</real>
    <key>finishColorBlue</key>
    <real>0.85</real>
    <key>finishColorGreen</key>
    <real>0.4</real>
    <key>finishColorRed</key>
    <real>0.44</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.34</real>
    <key>finishColorVarianceBlue</key>
    <real>0.5</real>
    <key>finishColorVarianceGreen</key>
    <real>0.3</real>
    <key>finishColorVarianceRed</key>
    <real>0.44</real>
    <key>finishParticleSize</key>
    <integer>201</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>28</integer>
    <key>gravityy</key>
    <integer>422</integer>
    <key>maxParticles</key>
    <integer>481</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.86</real>
    <key>particleLifespanVariance</key>
    <real>5.8</real>
    <key>radialAccelVariance</key>
    <integer>127</integer>
    <key>radialAcceleration</key>
    <integer>-377</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>162</integer>
    <key>rotationStartVariance</key>
    <integer>648</integer>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <real>275.8589509167249</real>
    <key>sourcePositiony</key>
    <real>871.5190452865409</real>
    <key>speed</key>
    <integer>291</integer>
    <key>speedVariance</key>
    <integer>218</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>12</integer>
    <key>startParticleSizeVariance</key>
    <integer>10</integer>
    <key>tangentialAccelVariance</key>
    <integer>363</integer>
    <key>tangentialAcceleration</key>
    <integer>-130</integer>
    <key>spriteFrameUuid</key>
    <string>626bbcc4-8189-409d-8550-5c37384cb609@f9941</string>
  </dict>
</plist>